body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
  }
.logo img{
    width: 227px;
    height: 150px;
    margin-top: 10px;
}
header svg{
    visibility: hidden;
}    
#nav{
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    width: 60%;
    margin: 0;
}
nav{
    background-color: black;
}
nav ul li
    {
        display: inline-block;    
        padding: 3%;
		padding-bottom:2%;
        padding-top: 2%;
    }
nav ul li a{
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
h1{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0;
        text-shadow: 5px 2px 5px rgb(0, 0, 0);
        background-image: url("Image/motif.jpg");
        background-size: cover;
        background-position: center;
        border: 2px solid #DCB253; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        font-size: 50px;
        color: #DCB253;
}
.section{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 90px;
    color: aliceblue;
    padding-left: 60px;
    padding-right: 60px;
}
.text1{
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section img{
    border-radius: 30px;
    border: solid 2px #DCB253;
    width: 500px; 
    height: 300px; 
    object-fit:cover;
}
#presentation{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p1{
    font-size: 20px;
    padding-right: 60px;
}
.info img{
    width: 600px; 
    height: 400px; 
    object-fit:cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.info{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 60px;
    text-align: center;
    padding-bottom: 50px;
}
.horaire{
    border: solid 2px #000000;
    border-radius: 50px;
    margin-left: 45px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.ouverture{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    text-transform: uppercase;
}
.jours{
    text-align: center;
    font-size: 20px;
}
hr{
    width: 669.003px;
    height: 2px;
    background: #DCB253;
    border: #DCB253;
}
    
.info2{
    padding-top: 20px;
}
.text3{
    text-align: center;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 15px;
}
.bloc1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border: #000000 solid 2px;
    margin-right: 310px;
    margin-left: 310px;
}
.renseignement{
    padding-right: 70px;
    border-right: 2px dashed #000000;
}
.reseaux{
    padding-left: 70px;
}
#icones{
    font-size: 40px;
}
.fa-x-twitter{
    padding-left: 10px;
    padding-right: 10px;
}
.adresse{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.text4{
    font-size: 26px;
    padding-bottom: 20px;
}
.fa-map-pin{
    font-size: 30px;
    padding-right: 15px;
    padding-top: 20px;
}

@media all and (max-width: 740px)
{

    .logo img{
        width: 201px;
        height: 125px;
        padding-left: 40px;
    }

    nav{
        visibility: hidden;
    } 

    #presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .p1{
        text-align: center;
        width: 100% ;
    }

    #presentation img{
        width: 100%;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .info img{
        width: 100%;
    }

    hr{
        width: auto;
    }

    .bloc1{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .renseignement p{
        font-size: 80%;
        justify-content: center;
        margin-left: 40px;
    }

    .reseaux p{
        font-size: 80%;
        text-align: center;
        justify-content: center;
    }

    #icones{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .map{
        width: 100%;
    }

}

@media all and (max-width: 320px)
{

    .logo img{
        width: 201px;
        height: 125px;
        padding-left: 40px;
    }

    nav{
        visibility: hidden;
    } 

    #presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .p1{
        text-align: center;
        width: 320px;
    }

    #presentation img{
        width: 110%;
        justify-content: center;
    }

    .info{
        display: flex;
        flex-direction: column;
    }

    .info img{
        width: 100%;
    }

    .jours{
        justify-content: center;
        margin: auto;
    }

    hr{
        width: auto;
    }

    .bloc1{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .renseignement p{
        font-size: 80%;
        justify-content: center;
    }

    .reseaux p{
        font-size: 80%;
        text-align: center;
        justify-content: center;
    }

    #icones{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .map{
        width: 100%;
    }

}
